In [54]:
# Begin by importing the required packages for the project
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import pandas as pd
import os
#import astropy as ap
#import seaborn as sns

In [55]:
# define an import function for data handling
def import_AGN_data(field, all_data, selection_criteria, e_sigma, folder_path = 'diagnostic selections'):
    
    if all_data == True:
        file_name =  field+'_full_data_'+str(e_sigma)+'_sigma.csv'
        file_path = os.path.join(folder_path, file_name)
        selection_df = pd.read_csv(file_path)
    else:
        if selection_criteria == 'Lacy':
            file_name = field+'_lacy_selection_'+str(e_sigma)+'_sigma.csv'
            file_path = os.path.join(folder_path, file_name)
            selection_df = pd.read_csv(file_path)
        elif selection_criteria == 'Messias':
            file_name = field+'_messias_selection_'+str(e_sigma)+'_sigma.csv'
            file_path = os.path.join(folder_path, file_name)
            selection_df = pd.read_csv(file_path)
        elif selection_criteria == 'Donley':
            file_name = field+'_donley_selection_'+str(e_sigma)+'_sigma.csv'
            file_path = os.path.join(folder_path, file_name)
            selection_df = pd.read_csv(file_path)
        elif selection_criteria == 'Combined':
            file_name = field+'_combined_selection_'+str(e_sigma)+'_sigma.csv'
            file_path = os.path.join(folder_path, file_name)
            selection_df = pd.read_csv(file_path)
        else:
            print('Please enter a valid selection criteria')
            return 0
    return selection_df


cdfs_df = import_AGN_data("CDFS", False, "Combined", 5)

In [56]:
cdfs_df

,id,x,y,ra,dec,SEflags,iso_area,fap_Ksall,eap_Ksall,apcorr,...,use,snr,use_nosnr,z_spec,z_peak,f24,e24,Messias Selection,Lacy Selection,Donley Selection
0,5746,4778.412,2191.809,53.067131,-27.883856,2,362.0,2.698493,0.095665,1.031906,...,1,16.611140,1,2.808,2.9412,86.420,5.391,0,1,0
1,5860,4916.620,2228.198,53.060615,-27.882338,3,247.0,8.315286,0.102656,1.075718,...,1,145.271100,1,-99.000,2.2177,211.200,4.735,0,1,0
2,5880,4918.070,2205.127,53.060547,-27.883299,3,134.0,3.127875,0.107667,1.095818,...,1,46.083340,1,-99.000,1.8316,48.270,5.345,0,1,0
3,6020,4722.533,2272.799,53.069767,-27.880484,3,341.0,7.114190,0.083399,1.050610,...,1,153.704900,1,-99.000,2.5007,10.810,3.946,0,1,0
4,6153,4741.378,2293.590,53.068878,-27.879616,3,293.0,3.878256,0.081004,1.049544,...,1,55.084270,1,-99.000,2.4497,132.300,4.111,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,30561,3161.745,7440.671,53.143299,-27.665165,3,251.0,6.202888,0.186485,1.065775,...,1,44.209150,1,-99.000,1.5257,24.210,5.285,0,1,0
875,30647,3094.975,7607.521,53.146439,-27.658211,2,266.0,8.943708,0.196572,1.064004,...,1,58.345900,1,-99.000,2.2533,48.860,5.475,0,1,0
876,30724,3584.657,7482.463,53.123402,-27.663424,0,25.0,0.674413,0.181990,1.377135,...,1,9.006686,1,-99.000,1.8033,29.550,4.481,0,1,1
877,30734,2790.194,7498.273,53.160778,-27.662760,0,122.0,4.020537,0.163558,1.110898,...,1,44.718540,1,-99.000,1.6178,6.904,4.460,0,1,0
878,30781,2831.606,7505.769,53.158829,-27.662449,2,413.0,61.282840,0.166797,1.081898,...,1,637.031800,1,-99.000,2.6246,647.300,4.452,0,1,1

In [57]:
# Import the Xray Data


file_path = os.path.join("diagnostic selections\cdfs_xagn_5_sigma.csv")
xray_cdfs_df = pd.read_csv(file_path)
xray_cdfs_df = xray_cdfs_df[xray_cdfs_df["Szokoly Selection"] == 1]

In [58]:
# add xray rows to cdfs_df
xray_cdfs_df

,id,x,y,ra,dec,SEflags,iso_area,fap_Ksall,eap_Ksall,apcorr,...,wmin_irac,wmin_all,star,nearstar,use,snr,use_nosnr,z_spec,HR,Szokoly Selection
925,926,6144.741,695.841,53.002655,-27.946148,3,45.0,1.277933,0.231306,1.131026,...,0.00,0.00,0,0,0,6.492686,0,-99.0,NaN,1
981,982,2355.182,725.381,53.181393,-27.944956,0,44.0,1.090839,0.240751,1.082955,...,11106.00,0.12,0,0,0,4.897219,0,-99.0,NaN,1
1339,1340,4426.177,870.151,53.083714,-27.938931,0,36.0,0.960435,0.177806,1.278980,...,27304.00,0.22,0,0,0,10.305720,0,-99.0,NaN,1
1579,1580,5029.633,996.896,53.055256,-27.933640,0,377.0,14.453180,0.240751,1.055910,...,8064.10,0.12,0,0,0,70.193100,0,-99.0,NaN,1
1663,1664,811.480,1100.616,53.254185,-27.929272,0,1476.0,117.894000,0.251456,1.027770,...,3821.20,0.11,0,0,0,564.726600,0,-99.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30468,30469,3197.692,7585.071,53.141605,-27.659147,0,20.0,0.597746,0.202271,1.526583,...,19816.00,0.17,0,0,1,5.618019,1,-99.0,NaN,1
30617,30618,4198.119,7758.116,53.094547,-27.651936,3,12.0,0.713847,0.231306,1.268517,...,1261.00,0.13,0,0,0,4.016365,0,-99.0,NaN,1
30708,30709,6327.633,7437.650,52.994358,-27.665232,0,48.0,1.338136,0.263729,1.111289,...,0.00,0.00,0,0,0,5.875276,0,-99.0,NaN,1
30781,30782,6300.191,7495.781,52.995651,-27.662811,0,39.0,1.378092,0.263729,1.284690,...,0.00,0.00,0,0,0,8.411601,0,-99.0,NaN,1
30842,30843,3288.637,7913.177,53.137325,-27.645477,0,42.0,1.223915,0.240751,1.196528,...,538.46,0.12,0,0,0,6.200203,0,-99.0,NaN,1

In [59]:
merged_df = pd.concat([cdfs_df, xray_cdfs_df], ignore_index=True, sort=False)

In [60]:

# Merge duplicates based on 'id' column while handling NaNs
#merged_df = df.groupby('id')['value'].apply(lambda x: ', '.join(x.dropna()) if x.notna().any() else None).reset_index()

# # Concatenate the DataFrames
merged_df = pd.concat([cdfs_df, xray_cdfs_df], ignore_index=True, sort=False)


# # Check for duplicate IDs
duplicates = merged_df[merged_df.duplicated(subset='id', keep=False)]

# # Print or examine the duplicate rows
if not duplicates.empty:
    print("Duplicate IDs found:")
    print(duplicates)
else:
    print("No duplicate IDs found.")
        


merged_df[merged_df['id'] == "22412"]["Szokoly Selection"] = 1
merged_df[merged_df['id'] == "26484"]["Szokoly Selection"] = 1

Duplicate IDs found:
        id         x         y         ra        dec  SEflags  iso_area  \
519  22412  2579.252  5469.952  53.170738 -27.747271        0      75.0
686  26484  4286.150  6322.709  53.090385 -27.711742        3     115.0
975  22412  2579.252  5469.952  53.170738 -27.747271        0      75.0
988  26484  4286.150  6322.709  53.090385 -27.711742        3     115.0

     fap_Ksall  eap_Ksall    apcorr  ...  use_nosnr  z_spec  z_peak    f24  \
519   1.690752   0.067424  1.130435  ...          1   -99.0  1.5564  21.16
686   2.579568   0.082577  1.104674  ...          1   -99.0  2.5307  20.38
975   1.690752   0.067424  1.130435  ...          1   -99.0     NaN    NaN
988   2.579568   0.082577  1.104674  ...          1   -99.0     NaN    NaN

       e24  Messias Selection  Lacy Selection  Donley Selection  HR  \
519  3.159                0.0             1.0               0.0 NaN
686  5.754                0.0             1.0               0.0 NaN
975    NaN                NaN             NaN               NaN NaN
988    NaN                NaN             NaN               NaN NaN

     Szokoly Selection
519                NaN
686                NaN
975                1.0
988                1.0

[4 rows x 165 columns]

In [61]:
unique_df = merged_df.drop_duplicates(subset='id')

In [62]:
unique_df.to_csv("CDFS_combined_selectione_5final.csv", index=False)

In [63]:
# get id's from other two fields and export to csv
def import_AGN_dataID(field, all_data, selection_criteria, e_sigma, folder_path = 'diagnostic selections'):
    
    if all_data == True:
        file_name =  field+'_full_data_'+str(e_sigma)+'_sigma.csv'
        file_path = os.path.join(folder_path, file_name)
        selection_df = pd.read_csv(file_path)
    else:
        if selection_criteria == 'Lacy':
            file_name = field+'_lacy_selection_'+str(e_sigma)+'_sigma.csv'
            file_path = os.path.join(folder_path, file_name)
            selection_df = pd.read_csv(file_path)
        elif selection_criteria == 'Messias':
            file_name = field+'_messias_selection_'+str(e_sigma)+'_sigma.csv'
            file_path = os.path.join(folder_path, file_name)
            selection_df = pd.read_csv(file_path)
        elif selection_criteria == 'Donley':
            file_name = field+'_donley_selection_'+str(e_sigma)+'_sigma.csv'
            file_path = os.path.join(folder_path, file_name)
            selection_df = pd.read_csv(file_path)
        elif selection_criteria == 'Combined':
            file_name = field+'_combined_selection_'+str(e_sigma)+'_sigma.csv'
            file_path = os.path.join(folder_path, file_name)
            selection_df = pd.read_csv(file_path)
        else:
            print('Please enter a valid selection criteria')
            return 0
    return selection_df


import_AGN_data("COSMOS", False, "Combined", 5).to_csv("COSMOS_combined_selection_5final.csv", index=False)
import_AGN_data("UDS", False, "Combined", 5).to_csv("UDS_combined_selection_5final.csv", index=False)